doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        style.
            .inroom{
                display: flex;
                justify-content: space-between;
            }
            .hidden {
                display: none;
            }
            .chatclass {
                height: 30vh;
                overflow-y: scroll;
                max-width: 100%;
                border: 1px solid #e3e3e3;
                border-color: tomato;
                display: flex;
                flex-direction: column;
                padding: 8px;
                border-radius: 4px;
                margin: 0;
                }        
    body
        h1 Noom graduate p2p연결시 채팅방등장
        header
            div#welcome
                form
                    input(placeholder="room name", required, type= "text")
                    button Enter Room 
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute 
                    button#camera Turn Camera Off
                    select#cameras
                div#chat
                    u#chatlog
                    form#msg
                        input(placeholder="send a message", required, type="text")
                        button Send Text           
                div#peerStrem    
                    video#peerFace(autoplay, playsinline, width="400", height="400")
            
        script(src="/socket.io/socket.io.js")
            
        script(src="/public/js/app.js")
            