doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title zoomba
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 zoomBa
        main
            ul 
            form#chat
                input(type="text", required, placeholder="send message")
                button Send
            form#nick
                input(type="text", required, placeholder="set a nickname")
                button Set
            div#welcome
                form
                    input(type="text", required, placeholder="enter the room!")
                    button Enter Room
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")
        